---
import TodoListApp from "../components/TodoListApp";

const title = "React To Do List";
const description = "This is a todo llist created with react astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 text-gray-900 min-h-screen">
    <div class="py-20">
      <div
        class="container mx-auto md:w-4/5 lg:w-3/5 sm:border-2 border-current"
      >
        <div class="grid gap-6">
          <div class="grid place-items-center">
            <h1 class="text-4xl py-2 px-6 font-bold">{title}</h1>
          </div>

          <TodoListApp client:only="react" />
        </div>
      </div>
    </div>
  </body>
</html>

<style lang="postcss" is:global>
  .fade {
    &-enter,
    &-exit-done {
      @apply opacity-0;
    }
    &-exit,
    &-enter-done {
      @apply opacity-100;
    }
    &-enter-active,
    &-exit-active {
      @apply transition-opacity duration-1000 ease-in;
    }
  }
</style>
